baseURL = "https://ipnote.github.io/ipblog/"
languageCode = "ja"
title = "実務者のための知財法務"
theme = "PaperMod"
publishDir = "docs"
googleAnalytics = ""


[params.homeInfoParams]
  Title = "実務者のための知財法務"
  Content = "日々の業務で得た知見をもとに、知財や契約に関する内容を中心とした記事を、備忘録としてまとめています。<br>あくまで一知財部員の主観も含まれた記事として、参考程度に見て頂けると有り難いです。"

[params]
  defaultTheme = "light"    # ダークモードを使わない場合は"light"
  ShowShareButtons = false
  ShowReadingTime = true
  ShowPostNavLinks = true
  ShowBreadCrumbs = true
  ShowCodeCopyButtons = true
  ShowToc = true
  TocOpen = true
  sortPostBy = "date"

[params.assets]
  favicon = "/assets/images/ip_favicon.ico"
  favicon16x16 = "/assets/images/ip_favicon_16.png"
  favicon32x32 = "/assets/images/ip_favicon_32.png"
  apple_touch_icon = "/assets/images/ip_apple-touch-icon.png"

[params.fuseOpts]
  isCaseSensitive = false
  shouldSort = true
  location = 0
  distance = 1_000
  threshold = 0.4
  minMatchCharLength = 0
  keys = [ "title", "permalink", "summary", "content" ]

[outputs]
  home = [ "HTML", "RSS", "JSON" ]

[menu]
[[menu.main]]
  identifier = "home"
  name = "Home"
  url = "/"
  weight = 1

[[menu.main]]
  identifier = "categories"
  name = "Categories"
  url = "/categories/"
  weight = 2

[[menu.main]]
  identifier = "search"
  name = "Search"
  url = "/search/"

  weight = 2

[[menu.main]]
  identifier = "about"
  name = "About"
  url = "/about/"
  weight = 5

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

[taxonomies]
  tag = "tags"
  category = "categories"


enableRobotsTXT = false

