/* 記事のタイトルのフォントサイズ調整 */
.post-title {
    margin-bottom: 2px;
    font-size: 26px;
}

/* 記事本文のフォントサイズ調整 */
.post-content {
    font-size: 14px;   /* お好みで */
    line-height: 1.8;
}

/*h3 大見出し*/
.post-content h3 {
    font-size:150%; /*文字サイズ*/
    margin: 4em 0 1.3em; /*見出しの上下の余白*/
}
h3 {
    padding: 0.8em 0.6em; /*文字周りの余白(上下 左右)*/
    border-left: solid 7px #6495ed; /*左線（実線 太さ 色）*/
}

/*h4 中見出し*/
.post-content h4 {
    font-size: 120%; /*文字サイズ*/
    margin: 3em 0 1.3em 0; /*見出しの上下の余白*/
}
h4 {
   padding: 0.3em 0.5em; /*文字周りの余白(上下 左右)*/
   border-left: solid 6px #6495ed; /*左線*/
}

/*h5 小見出し*/
.post-content h5 {
    margin: 2em 0 1.3em 0; /*見出しの上下の余白*/
}
h5 {
    padding: 0.2em 0.4em; /*文字周りの余白(上下 左右)*/
    border-left: solid 4px #6495ed; /*左線*/
}

/* 画像サイズ調整 */
.post-content img {
  max-width: 100%;
  width: 400px;  /* PCでは600px、スマホでは縮む */
  height: auto;
  display: block;
  margin: 1.5rem auto; /* 画像を中央寄せ */
}
