{{- /* ファビコンを使用 */ -}}

<link rel="icon" href="/assets/images/ip_favicon.png" type="image/png">
<link rel="apple-touch-icon" href="/assets/images/ip_apple-touch-icon.png">

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4546267264299174"
     crossorigin="anonymous">
</script>

<meta name="google-site-verification" content="w6kJIjMLu9ARKIeEzLADn46AgPa-PM_tpbWMSKRzH14" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GK6P50PLB9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GK6P50PLB9');
</script>
